body { background-color: #fff; }
.main { width: 100%; height: 355px; }
.main a { width: 100%; height: 355px; float: left; }
.box { margin: 0 auto; width: 1000px; position: relative; }
.content { width: 1000px; margin: 0 auto; height: 1px; position: relative; }
.sub_main { width: 1000px; height: 423px; float: left; }
.banner { float: left; width: 560px; margin: 80px 50px 20px 0px; _display: inline; }
/***********--login--**********/
.hw_login { width: 100%; float: left; }
.login { width: 338px; height: 360px; right: 17px; ; background-color: #fff; top: -393px; position: absolute; }
.login h2 { float: right; width: 338px; height: 60px; line-height: 60px; text-align: center; color: #fff; font-size: 20px; background-color: #000000; font-family: microsoft yahei; }
.login ul { padding: 15px 36px; float: left; }
.login ul li { float: left; width: 268px; line-height: 36px; color: #333333; font-size: 14px; }
.login input.input_user,
.login input.input_password { width: 258px; color: #a6a6a6; height: 35px; line-height: 35px; border: 1px solid #999; font-family: microsoft yahei; font-size: 16px; padding-left: 10px; background-color: #FFF; }
.login input.check { margin-top: 11px; _margin-top: 6px; width: 20px; float: left; margin-right: 5px; }
.login ul li.denglv span { float: left; }
.login ul li a { color: #ff9c4a; padding-left: 10px; }
.login ul li a.fpassword { float: right; }
.login ul li a:hover { color: #ff9c4a; text-decoration: underline; }
.login ul li.denglv { padding-top: 10px; }
.login ul li.reg { padding-top: 10px; }
.login a.button_sub { float: right; font-size: 16px; }
.login input.button_reg { margin-top: 5px; }
span.copyright { margin-right: 50px; }
.login button.J_Submit { background: url("loginbutton.png") no-repeat scroll 0 0 transparent; border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; height: 47px; line-height: 47px; font-family: microsoft yahei; font-size: 20px; font-weight: 100; overflow: hidden; vertical-align: middle; width: 270px; }
.login button.J_Submit:hover { background: url("loginbutton.png") no-repeat scroll 0px -48px transparent; }
.hw_main { width: 100%; float: left; }
.index_content { width: 1000px; padding: 20px 0px; margin: 0 auto; }


/*筛选条件*/
.filter { width: 998px; b/*border: 1px solid #e3e3e3;*/ padding-bottom: 20px; float: left; margin-top:20px; }
.filter h2 { width: 960px; padding: 0px 19px; height: 36px; line-height: 36px; background-color: #f7f7f7; float: left; }
.filter h2 span.title { width: 100px; height: 36px; line-height: 36px; font-size: 18px; font-family: microsoft yahei; float: left; }
.filter h2 span.now_filter { float:left; width:860px; font-size:12px;}
.filter h2 span.now_filter .f_ok { float:left;}
.filter h2 span.now_filter .f_result{ float:left; height:14px; line-height:14px; margin-top:8px; margin-left:10px; background-color:#fff; border:1px solid #ff8040; padding:1px 1px 1px 5px;}

.filter h2 span.now_filter .f_result a { }

.filter .filter_list { width: 960px; padding: 10px 19px 0px 19px; float: left; }
.filter .filter_list .filter_term { width: 65px; background: url("filter_bg.gif") no-repeat; height: 25px; line-height: 25px; padding-left:10px;   float: left; }
.filter .filter_list .filter_term_list { width: 845px; padding: 0 10px; padding-top: 3px; float: left; }
.filter .filter_list .filter_term_list a { padding: 0 10px; white-space: nowrap; height: 20px; float: left; line-height: 20px; color:#0066CC; }
.filter .filter_list .filter_term_list a.default { padding: 0 10px; white-space: nowrap; background-color: #ff6600; height: 20px; line-height: 20px; color: #fff; }
/*筛选条件*/

.top_filter {
    width: 768px; background-color:#f7f7f7; margin-top:20px;
    height: 36px;
    /*border: 1px solid #e3e3e3;*/
}
.top_f_left {
    width: 350px; margin-top:5px;
    height: 36px; float:left; height:24px; padding-left:20px;
   
}
.top_f_left a {
  
    width:66px; float:left; height:24px; border:1px solid #c9c9c9; line-height:24px; text-align:center; margin-right:10px;
   
}
.top_f_left a:hover,.top_f_right a:hover {
  
    width:66px; float:left; height:24px; border:1px solid #ff8a4f; background-color:#fff; color:#f87b00; line-height:24px; text-align:center; margin-right:10px; text-decoration:none;
   
}
.top_f_left a.hot {
  
    width:66px; float:left; height:24px; border:1px solid #ff8a4f; background-color:#fff; color:#f87b00; line-height:24px; text-align:center; margin-right:10px;
   
}
.top_f_right {
    width: 240px; margin-top:5px; 
    height: 36px; float:right; height:24px;
   
}
.top_f_right a {
  
    width:66px; float:left; height:24px; border:1px solid #c9c9c9; line-height:24px; text-align:center; margin-right:10px;
   
}
.top_f_right a.hot {
  
    width:66px; float:left; height:24px; border:1px solid #ff8a4f; background-color:#fff; color:#f87b00; line-height:24px; text-align:center; margin-right:10px; text-align:right;
   
}

.sz_sale { width: 960px; background-color: #f4f4f4; float: left; padding: 15px 20px 20px 20px; }
.sz_sale h2 { width: 960px; font-size: 24px; font-family: microsoft yahei; color: #4e4e4e; float: left; margin-bottom: 20px; }
.sz_sale h2 em { font-size: 16px; }
.sz_sale .choose { width: 960px; float: left; }
select.sortSelect { width: 200px; height: 25px; line-height: 25px; margin-left: 10px; }
.sz_sale .choose .choose_list { width: 280px; float: left; margin-right: 20px; }
.mod_houses { float: left; border: 1px solid #f57802; width: 980px; padding: 19px 9px 9px 9px; }
.mod_houses h2 { width: 980px; height: 28px; line-height: 28px; float: left; }
.mod_houses h2 span.title { font-family: microsoft yahei; font-size: 28px; width: 800px; float: left; height: 28px; }
.mod_houses h2 span.coll { font-size: 12px; width: 100px; text-align: right; float: right; color: #ea5504; height: 28px; }
.mod_houses h2 em.title_ad { font-family: microsoft yahei; font-size: 16px; margin-left: 20px; }
.mod_houses .houses { width: 980px; padding-top: 20px; position: relative; height: 410px; float: left; }
.mod_houses .houses .houses_img { width: 570px; margin-right: 10px; height: 310px; float: left; }
.mod_houses .houses_info { width: 980px; color: #fff; position: absolute; margin-top: 412px; height: 46px; line-height: 46px; float: left; }
.mod_houses .houses_info span { background: url("black_0.6.png") repeat scroll 0 0 transparent; color: #fff; padding: 0px 20px; margin-left: 1px; font-size: 14px; height: 46px; line-height: 46px; float: left; }
.mod_houses .houses_info span em { color: #ff8100; }
.mod_houses .houses_info span.one { color: #fff; padding: 0px 20px; margin: 0px; background: url("black_0.6.png") repeat scroll 0 0 transparent; height: 46px; line-height: 46px; float: left; }
.mod_houses .houses_info span.recom { color: #fff; padding: 0; background: none; height: 46px; line-height: 46px; width: 111px; text-align: center; float: left; }
.mod_houses .houses_info span.recom a { color: #fff; background-color: #ff8100; height: 46px; line-height: 46px; width: 111px; text-align: center; font-weight: bold; float: left; }
.mod_houses .houses_info span.make { color: #fff; padding: 0; background: none; height: 46px; line-height: 46px; width: 111px; text-align: center; float: left; }
.mod_houses .houses_info span.make a { color: #fff; background-color: #2b97e1; height: 46px; line-height: 46px; width: 111px; text-align: center; font-weight: bold; float: left; }
.mod_info { width: 1000px; margin-bottom: 20px; float: left; }
.mod_info .info_left { width: 770px; float: left; }
.mod_info .info_left .map { width: 730px; margin-top: 20px; border: 1px solid #e3e3e3; float: left; padding: 19px; }
.mod_info .info_left .map p { width: 290px; line-height: 25px; float: left; }
.mod_info .info_left .map .baidu_map { width: 420px; float: right; height: 260px; border: 1px solid #e3e3e3; }


.mod_info .info_left .f_list { width: 770px; float: left; min-height:900px;}
.mod_info .info_left .f_list ul { width: 770px; padding-bottom: 10px; float: left; padding-left:6px; }
.mod_info .info_left .f_list ul li { width: 180px; margin-right: 12px;  margin-top: 18px; _display:inline; float: left; }
.mod_info .info_left .f_list ul li a { width: 180px; float: left; }
.mod_info .info_left .f_list ul li img {  width: 180px; height: 120px; float: left; }
.mod_info .info_left .f_list ul li span.f_name { width: 180px; float: left; text-align: left; height: 24px; overflow:hidden; line-height: 24px; font-size: 12px; }
.mod_info .info_left .f_list ul li span.f_sale { width: 180px; color:#822d03;float: left; text-align: left; height: 24px; overflow:hidden; line-height: 24px; font-size: 12px; }
.mod_info .info_left .f_list ul li span.f_price { width: 180px; float: left; color:#ea1100; text-align: left; height: 24px; line-height: 24px; font-size: 12px; }
.mod_info .info_left .f_list ul li span.f_price em { width:90px; height:27px; line-height:27px; overflow:hidden; float:left;}
.mod_info .info_left .f_list ul li span.f_price  button.button_tao {
    background: url("tao_bg.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block; color:#fff;
    float: right;
    height: 27px;
    overflow: hidden;
    width: 84px;
}
.mod_info .info_left .f_list ul li span.f_look  button.button_jian {
    background: url("jian_bg.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block; color:#fff;
    float: left;
    height: 27px;
    overflow: hidden;
    width: 84px;
}

/* 选项卡 */
.info_tab { width: 768px; border: #e3e3e3 1px solid; float: left; margin-top: 20px; }
.info_tab dl dt { border-bottom: #e3e3e3 1px solid; height: 40px; background: #f1f1f1; margin-bottom: -1px; line-height: 40px }
.info_tab dl dt a { float: left; display: block; cursor: pointer; width: 108px; height: 40px; line-height: 40px; text-align: center; background: #f0f0f0; color: #4a4a4a; border-left: 2px solid #e3e3e3; padding-top: 3px; font-size: 14px; font-weight: bold }
.info_tab dl dt a.tabActive { background: #fff; color: #333; font-weight: bold; position: relative; border-top: 3px solid #ff6600; border-right: none; border-left: none; font-size: 14px; }
.info_tab dl dd { padding: 10px; height: 400px; clear: both; }
.info_right { float: right; width: 210px; }
.info_right .s_area { float: left; margin-top: 20px; background-color: #f7f7f7; width: 208px; border: 1px solid #e3e3e3; }
.info_right .s_area h2 { float: left; height: 36px; line-height: 36px; font-family: microsoft yahei; font-size: 16px; background-color:#ebebeb; width: 178px; padding: 0px 15px; border-bottom: 1px solid #e3e3e3; }
.info_right .s_area ul { width: 188px; padding: 0px 9px 9px 9px; float: left; }
.info_right .s_area ul li { width: 188px; float: left; border-bottom: 1px dashed #e3e3e3; margin-top: 10px; }
.info_right .s_area ul li a { width: 188px; border: 1px solid #e3e3e3; float: left; }
.info_right .s_area ul li img { border: 1px solid #fff; width: 186px; height: 116px; float: left; }

.info_right .s_area ul li p { width: 188px; height: 24px; line-height: 24px; float: left; }
.info_right .s_area ul li p em.l_name {  float: left; width:108px; overflow:hidden; height:24px; }
.info_right .s_area ul li p em.l_price { color: #ea1100; float: right; width:80px; overflow:hidden; text-align:right; }

.hw_search {
    width: 1000px;
    float: left;
}
.hw_search h2 {
    height:28px; line-height:28px; font-size:18px;  font-family: microsoft yahei; margin-right:10px;
    float: left;
}
.hw_search h2 em {
   font-family: microsoft yahei;
    color:#ff5500;
}
.hw_search .search { width:500px; float:left; padding:0px;}
.hw_search .search input.input_txt {
    border:#c8c8c8 1px solid; 
    color: #A6A6A6;
    float: left;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    width: 200px;
}
.hw_search .search a.button_search_hw {
    
      border-right:#c8c8c8 1px solid;   border-top:#c8c8c8 1px solid;  border-bottom:#c8c8c8 1px solid; background-color:#f7f7f7; color:#fff;
    cursor: pointer;
    display: inline-block;
    float: left;  text-align:center; color:#acacac;
    height:26px; line-height:26px;
    overflow: hidden;
    width: 67px;
}
.button_search_hw1 {
    
      color:#fff;
	  background: url("s_search_bg.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    float: left;  text-align:center; color:#acacac;
    height:28px; line-height:28px;
    overflow: hidden;
    width: 67px;
}