body{background-color:#fff;}
.main a { width:100%; height:423px; float:left;} 
.box { margin:0 auto; width:1000px; position:relative; }

.content { width:1000px;  margin: 0 auto;    height:1px; position:relative;} 
.sub_main { width:1000px; height:423px; float:left;}
.banner {  float:left; width:560px; margin:80px 50px 20px 0px; _display:inline;}

/***********--login--**********/
.hw_login { padding-top:80px;}
.login { width:338px; height:360px; right:17px; ; background-color:#fff; top:-410px;  position:absolute;}
.login h2 { float:right; width:338px; height:60px; line-height:60px; text-align:center; color:#fff; font-size:20px; background-color:#000000; font-family:microsoft yahei; }
.login ul { padding:15px 36px; float:left; }
.login ul li {  float:left; width:268px; line-height:36px; color:#333333; font-size:14px;}
.login ul li span { width:100px; float: left;}
.login input.input_user,.login input.input_password { width:258px; color:#a6a6a6; height:35px; line-height:35px; border:1px solid #999; font-family:microsoft yahei; font-size:16px;  padding-left:10px; background-color:#FFF; }
.login input.check { margin-top:11px; _margin-top:6px;   width:20px; float:left; margin-right:5px; } 
.login ul li.denglv span {float:left;}
.login ul li a { color:#ff9c4a; padding-left:10px;}  
.login ul li a.fpassword { float:right; width:100px; text-align: right;}
.login ul li a:hover { color:#ff9c4a; text-decoration:underline;}
.login ul li.denglv {padding-top:10px;}
.login ul li.reg {padding-top:10px;}
.login a.button_sub { float:right;font-size:16px;}
.login input.button_reg { margin-top:5px;}

span.copyright { margin-right:50px; float:right; width:200px; text-align: right;}
.login button.J_Submit {
    background: url("loginbutton.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    line-height: 47px; font-family:microsoft yahei; font-size:20px; font-weight:100;
    overflow: hidden;
    vertical-align: middle;
    width: 270px;
}
.login button.J_Submit:hover {
    background: url("loginbutton.png") no-repeat scroll 0px -48px transparent;}
.bottom .bottom_main .bottom_left { float: left; width:600px;}










