html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,input,textarea,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,hr
	{
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #F5F5F5;
	color: #333333;
	font-family: "Microsoft Yahei", "ËÎÌå", Tahoma, Arial, Helvetica, STHeiti;
	font-size: 12px;
}

img {
	outline: none;
	vertical-align: middle;
}

ul {
	list-style: none;
}

a:link,a:visited,a:active {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF6600;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* Form */
form,p {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.input {
	height: 25px;
	line-height: 25px;
}

table input {
	border: 1px solid #ADACB1;
	color: #696969;
	padding-left: 4px;
}

select {
	height: 22px;
	line-height: 22px;
}

.table3,.table4 {
	margin-top: 10px;
}

.table4 {
	margin: 8px 15px;
}

.table3,.table4 tr td {
	height: 40px;
	line-height: 40px;
}

.table3,.table4 tr td td input {
	border: medium none;
}

.div_btn {
	clear: both;
	text-align: center;
}

.div_btns {
	width: 131px;
	height: 33px;
	border: 0;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	line-height: 31px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: url(c.png) no-repeat 0 0;
	cursor: pointer;
	zoom: 1
}

.div_btns:hover,.div_btns.hover {
	background-position: 0 -33px
}

/*top*/
.hd {
	width: 100%;
	height: 98px;
	border-bottom: 2px solid #FF3539;
	background: #fff;
}

.hdR {
	position: absolute;
	bottom: 0;
	right: 0;
}

.hdBox {
	width: 980px;
	margin: 0 auto;
	height: 98px;
	position: relative;
}

 
.nav a,.nav a:visited {
	display: block;
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	color: #FF3539;
	font-family: \5FAE\8F6F\96C5\9ED1, 'Microsoft YaHei', STHeiti,
		sans-serif;
	text-decoration: none;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-right: 4px;
}

.nav a:hover,.nav a.curr,.nav a:visited.curr {
	background-color: #FF3539;
	color: #fff;
}

.nav {
	margin-right: -4px;
}

/*con*/
.con {
	margin: 0 auto;
	padding-top: 10px;
	width: 1000px;
}

.con1L {
	background: #fff;
	float: left;
	width: 629px;
}

.con1R {
	background: #fff;
	float: right;
	width: 360px;
	height: 270px;
	margin-top: 78px;
}

.con2L,.con2R {
	margin-bottom: 20px;
	margin-top: 10px;
}

.con2L {
	background: #fff;
	float: left;
	width: 629px;
}

.con2R {
	background: #fff;
	float: right;
	width: 360px;
}

.con1L h3,.con2L h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

.con1L P,.con2L P {
	color: #696969;
	font-size: 12px;
	line-height: 22px;
	margin-left: 15px;
	margin-right: 15px;
	text-indent: 2em;
}

.con1L h3,.con1R h3,.con2L h3,.con2R h3 {
	border-bottom: 1px solid #D5D5D5;
	color: #FF3539;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-top: 10px;
}

.con1LB {
	margin-top: 28px;
	width: 100%;
}

.con1LB .con1LBBox p {
	color: #414141;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.con1LB a.con1LBBox.spic3,.con1LB a.con1LBBox.spic3:visited {
	border-right: 0 none;
	margin-right: 0;
}

.con1LB a.con1LBBox p,.con1LB a.con1LBBox:visited p {
	height: 67px;
}

.con1LB a.con1LBBox,.con1LB a.con1LBBox:visited {
	border-right: 1px solid #E7E7E7;
	display: block;
	float: left;
	padding: 5px 15px 15px;
	text-decoration: none;
	width: 179px;
}

.con1LB a.con1LBBox strong,.con1LB a.con1LBBox:visited strong {
	font-weight: bold;
}

.spic1 strong,.spic2 strong,.spic3 strong {
	background-image: url("oktetle.png");
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	text-indent: -999em;
	width: 60px;
}

.spic2 strong {
	background-position: 0 -20px;
}

.spic3 strong {
	background-position: 0 -40px;
}

.spic1 div.png,.spic2 div.png,.spic3 div.png {
	background-image: url("/images/okPic.png");
	background-repeat: no-repeat;
	height: 60px;
	width: 132px;
}

.spic1 div.png {
	background-position: 0 0;
}

.spic2 div.png {
	background-position: 0 -75px;
}

.spic3 div.png {
	background-position: 0 -150px;
}

.spic1:hover div.png {
	background-position: 0 -225px;
}

.spic2:hover div.png {
	background-position: 0 -300px;
}

.spic3:hover div.png {
	background-position: 0 -375px;
}

.spic1:hover,.spic2:hover,.spic3:hover {
	background-color: #F5F5F5;
}

/*list*/
.list {
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 1000px;
	background-color: #FFFFFF;
	border: 1px solid #EDECED;
}

.list:after {
	clear: both;
	content: "?";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.listL {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 598px;
}

.listL {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	_margin-left: 10px;
	width: 598px;
}

.listLT {
	color: #FF3539;
	font-size: 16px;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}

.listList li {
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	padding-left: 30px;
	background: url("/images/listIcon.gif") no-repeat 16px 50% #f8f8f9;
}

.listList li a,.newsList li a:visited {
	color: #696969;
	text-decoration: none;
}

.listList li a:hover {
	text-decoration: underline;
}

.listList li span {
	width: 45em;
	white-space: nowrap;
	display: block;
	overflow: 
}

.listR {
	border: 1px solid #D3D3D3;
	float: right;
	margin-bottom: 30px;
	margin-right: 15px;
	margin-top: 15px;
	padding: 0 20px 20px;
	width: 310px;
}

.applyT {
	color: #FF3539;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	margin-left: 60px;
	margin-left: 0;
}

.applyT strong {
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 20px;
	margin-right: 10px;
}

.applyT span {
	font-weight: normal;
	margin-left: 17px;
}

.page {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.page a,.page a:visited {
	color: #FF3539;
	text-decoration: none;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.page a.thispage,.page a.thispage:visited,.page a.thispage:hover {
	background-color: #FF3539;
	color: #FFFFFF;
}

/*°¸ÀýÁÐ±íÒ³*/
#news {
	margin-top: 20px;
}

#news ul {
	overflow: hidden;
}

#news ul li {
	border-bottom: 1px dotted #D9D9D9;
	height: 168px;
}

#news ul li:hover {
	background-color: #FAFAFA;
}

#news ul li .g-avatar164x124 {
	margin: 20px 19px 0 14px;
}

#news ul li .cont {
	padding-top: 20px;
	width: 390px;
}

#news ul li .cont .ctitle {
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
}

#news ul li .cont .ctitle a:hover {
	color: #FF6600;
}

#news ul li .cont .ctext {
	line-height: 20px;
}

#news ul li .cont .ctext a {
	color: #FF3539;
}

.g-clear:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.g-blue {
	font-family: "ËÎÌå", "Arial Narrow", sans-serif;
}

/*ÁªÏµÎÒÃÇ*/
.contactMenu {
	margin-right: 20px;
}

.contactMenu ul li {
	margin-bottom: 1px;
}

.contactMenu ul li a,.contactMenu ul li a:visited {
	background-color: #F2F2F3;
	color: #696969;
	display: block;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	width: 222px;
}

.contactMenu ul li a:hover,.contactMenu ul li a.curr,.contactMenu ul li a.curr:visited
	{
	background-color: #FF3539;
	color: #FFFFFF;
}

.contactRlist {
	margin-right: 25px;
	width: 724px;
	line-height: 24px;
}

.contactRTit {
	border-bottom: 1px solid #D5D5D5;
	color: #FF3539;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 16px;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
}

.contactRTit a:visited {
	float: right;
	font-size: 12px;
}

.contactRTable {
	margin-bottom: 15px;
	table-layout: fixed;
}

.contactRTable,.contactRTable tr,.contactRTable th,.contactRTable td {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
}

.contactRTable th {
	background-color: #E6E6E7;
	color: #414141;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.contactRTable td {
	background-color: #F7F7F7;
	color: #696969;
	text-align: center;
}

.contactRTable td.ellL {
	line-height: 26px;
	padding: 14px 10px;
	text-align: left;
}

.contactRTable td a,.contactRTable td a:visited {
	color: #FF3539;
	text-decoration: none;
}

.contactRTable td a:hover {
	text-decoration: underline;
}

/*ÄÚÈÝÏêÏ¸Ò³*/
.newsCaseL {
	float: left;
	padding-left: 24px;
	width: 580px;
}

.newsCaseLT {
	border-bottom: 1px solid #D5D5D5;
	color: #696969;
	font-weight: normal;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.newsCaseTinfo {
	color: #696969;
	height: 50px;
	line-height: 50px;
	text-align: right;
}

.newsCaseTinfo strong {
	color: #FE9500;
	font-weight: normal;
	margin-right: 5px;
}

.newsCaseC {
	font-size: 14px;
	line-height: 28px;
}

.newsCaseC p {
	color: #696969;
	line-height: 24px;
	margin-bottom: 24px;
	text-indent: 2em;
}

.newsCaseB {
	background-color: #F5F5F5;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.newsCaseB a.aBlueLine,.newsCaseB a.aBlueLine:visited {
	color: #0096E0;
	text-decoration: underline;
}

.newsCaseB span {
	margin-right: 40px;
}

/*³£¼ûÎÊÌâ*/
.ilist {
	padding-left: 20px;
}

.ilist ul li {
	height: 26px;
	line-height: 26px;
}

.ilist ul li a {
	color: #696969;
	width: 250px;
	float: left;
	padding-left: 18px;
	background: url(/images/news_icon.jpg) left center no-repeat;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}

.ilist_time {
	width: 50px;
	color: #696969;
}

.ilist_name {
	width: 280px;
}

.ilist ul li a:hover {
	color: #FF6600;
}

.imore {
	margin-top: 10px;
	padding-left: 20px;
	width: 328px;
}

/*ÇøÓò¾­Àí*/
.consultants {
	overflow: hidden;
}

.consultants ul {
	overflow: hidden;
}

.consultants li {
	height: 110px;
	border-bottom: 1px dotted #C8C8C8;
}

.consultants li:hover {
	background-color: #FFF;
}

.consultants li .iimg {
	margin-top: 10px;
	margin-left: 15px;
}

.consultants li .g-avatar80 {
	margin: 15px 12px 15px 9px;
	display: inline;
}

.consultants li .cont {
	width: 245px;
}

.consultants li .c1 {
	margin-top: 15px;
	font-size: 14px;
	height: 21px;
	font-weight: bold;
	color: #333333;
}

.consultants li .c3 {
	margin-top: 15px;
	font-weight: bold;
	padding-left: 18px;
	background: url(/images/tel.gif) left center no-repeat;
	color: #900;
	font-family: Arial, Helvetica, sans-serif, "Microsoft yahei";
	font-size: 14px;
}

.consultants li .c3 span {
	margin-top: 15px;
	padding: 0 4px;
	font-size: 12px;
}

.g-st {
	font-family: Arial, Helvetica, sans-serif;
}

.g-avatar80 img {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #FFFFFF;
	display: block;
	height: 76px;
	vertical-align: top;
	width: 76px;
}

.g-gray {
	color: #999999;
}

/*°¸Àý*/
.anli {
	background-color: #FFFFFF;
}

.anli ul {
	overflow: hidden;
}

.anli ul li {
	height: 145px;
}

.anli ul li:hover {
	background-color: #FAFAFA;
}

.iimg {
	margin: 10px 10px 0;
	border: 1px solid #F0F0F0;
	display: block;
	font-size: 0;
	height: 122px;
	width: 162px;
}

.anli ul li .cont {
	width: 445px;
}

.anli ul li .cont .ctitle {
	font-size: 16px;
	line-height: 30px;
}

.anli ul li .cont .ctitle a:hover {
	color: #FF6600;
}

.anli ul li .cont .ctext {
	line-height: 20px;
}

.anli ul li .cont .bottom {
	margin-top: 10px;
}

.anli ul li .cont .bottom .time {
	color: #999999;
}

/*Ê×Ò³¹ã¸æÄ£¿é*/
.top {
	width: 100%;
	height: 330px;
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 10px;
}

.topBox {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.topBox .sliderFW {
	
}

.topBox .fo {
	
}

.sliderFW {
	height: 330px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1000px;
}

.sliderFW .points {
	bottom: 10px;
	position: absolute;
	right: 400px;
	z-index: 50;
}

.sliderFW .points a,.sliderFW .points a:visited {
	background: #fff url(point.png) no-repeat scroll 0 0;
	display: block;
	float: left;
	font-size: 0;
	height: 12px;
	margin-right: 5px;
	text-indent: -999em;
	width: 12px;
}

.sliderFW .points a.curr,.sliderFW .points a.curr:visited,.sliderFW .points a:hover
	{
	background: #fff url(point.png) no-repeat scroll 0 -12px;
}

.sliderFW a,.sliderFW a:visited {
	display: block;
	height: 330px;
	width: 1000px;
}

.fo {
	background-color: #FFFFFF;
	border: 4px solid #FF3539;
	position: absolute;
	right: 0;
	top: 0;
	width: 352px;
}

.foT {
	background: #FF3539;
	color: #FFFFFF;
	padding-bottom: 15px;
	padding-left: 18px;
	padding-top: 10px;
	width: auto !important;
	width: 382px;
}

.foT strong {
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 20px;
	margin-right: 10px;
}

.foT i {
	color: #FFFFFF;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin-right: 13px;
}

.foC {
	padding: 15px;
	height: 320px
}

#xyz0 {
	border: 0;
}

#xyz1 {
	border: 0;
}

#xyz2 {
	border: 0;
}

#xyz3 {
	border: 0;
}

.foBtn {
	background: #FF3539;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 22px;
	height: 42px;
	line-height: 42px;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	width: 180px;
}

.foBtn:hover {
	background-color: #800000;
}

/*³µ´û±íµ¥Ä£¿é*/
.applyCR-con h4 {
	background-color: #F5F5F5;
	color: #FF3539;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	font-size: 14px;
	text-indent: 28px;
}

.applyCR-con ul {
	color: #696969;
	margin-bottom: 10px;
	margin-left: 24px;
}

.applyCR-con img {
	margin-left: 20px;
	margin-top: 10px;
}

/*ÒµÎñµ¥Ò³*/
.xf-main {
	margin: 0 auto;
	width: 950px;
}

.xf-ban-b {
	float: left;
	height: 320px;
	width: 950px;
}

.xf-public {
	float: left;
	width: 950px;
}

.cont_bg {
	background: #86492D url("/images/body-bg.gif") repeat scroll 0 0;
	overflow: hidden;
}

#xf-main {
	min-width: 950px;
	width: 100%;
}

.xf-main {
	margin: 0 auto;
	width: 950px;
}

.xf-con-bottom {
	background: #fff url("/images/bottom.png") no-repeat scroll 0 0
		!important;
	filter: none !important;
	float: left;
	height: 15px;
	line-height: 15px;
	width: 950px;
}

.clear {
	clear: both;
}

.xf-con-box {
	float: left;
	padding: 35px 25px 30px;
	width: 900px;
	box-shadow: 1px 1px 10px #B3B3B3;
	margin-bottom: 20px;
}

.xf-bg-cd {
	background: #fff url("chedai.jpg") no-repeat scroll 0 0;
}

.xf-bg-fd {
	background: #fff url("/images/fangdai.jpg") no-repeat scroll 0 0;
}

.xf-bg-qd {
	background: #fff url("/images/qidai.jpg") no-repeat scroll 0 0;
}

.xf-bg-xd {
	background: #fff url("/images/xinyong.jpg") no-repeat scroll 0 0;
}

.xf-qj-box {
	float: left;
	width: 900px !important;
	width: 950px;
	margin-bottom: 20px;
}

.xf-qj-box .xf-qb-top {
	float: left;
	padding-left: 320px;
	width: 580px;
}

.xf-qj-box .xf-qb-top .fc-line1 {
	float: left;
	width: 580px;
	height: 54px;
	background: url(/images/fc-title.gif) no-repeat;
}

.xf-qj-box .xf-qb-top .fc-line2 {
	float: left;
	width: 580px;
	height: 24px;
	margin-top: 21px;
	background: url(/images/fc-text.gif) no-repeat;
}

.xf-qj-box .xf-qb-top .fc-line4 {
	float: left;
	width: 570px;
	padding-left: 10px;
	height: 28px;
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	color: #fff;
	background: url(/images/fc-tese.gif) no-repeat;
}

.xf-qj-box .xf-qb-top .xqt-line3 {
	text-indent: 2em;
	color: #555555;
	float: left;
	font-size: 12px;
	font-weight: 500;
	height: 100px;
	letter-spacing: 2px;
	line-height: 28px;
	margin-top: 15px;
	width: 580px;
}

.xf-qj-box .xf-qb-top .xqt-line5 {
	float: left;
	padding: 15px 20px;
	width: 538px;
}

.xf-qj-box .xf-qb-top .xqt-line5 .fc-ulli {
	float: left;
	width: 239px;
	padding-left: 30px;
	line-height: 24px;
	font-size: 14px;
	background: url(/images/fc-tese.gif) no-repeat;
	font-weight: bold;
}

.xf-qj-box .xf-qb-top .xqt-line5 .cd-a3 {
	background-position: 0 -112px;
	color: #38A8D8;
}

.xf-qj-box .xf-qb-top .xqt-line5 .fd-a3 {
	background-position: 0 -173px;
	color: #FF3539;
}

.xf-qj-box .xf-qb-top .xqt-line5 .qd-a3 {
	background-position: 0 -152px;
	color: #7CB35F;
}

.xf-qj-box .xf-qb-top .xqt-line5 .yj-a3 {
	background-position: 0 -132px;
	color: #F2914C;
}

.xf-qj-box .xf-qb-top .cd-0 {
	border: 1px solid #38A8D8;
	background: #FFFCFB;
}

.xf-qj-box .xf-qb-top .fd-0 {
	border: 1px solid #FF3539;
	background: #FFFCFB;
}

.xf-qj-box .xf-qb-top .qd-0 {
	border: 1px solid #7CB35F;
	background: #FFFCFB;
}

.xf-qj-box .xf-qb-top .yj-0 {
	border: 1px solid #F2914C;
	background: #FFFCFB;
}

.xf-qj-box .xf-qb-top .test-a {
	background-position: 0 0;
}

.xf-qj-box .xf-qb-top .test-b {
	background-position: 0 -28px;
}

.xf-qj-box .xf-qb-top .test-c {
	background-position: 0 -56px;
}

.xf-qj-box .xf-qb-top .test-d {
	background-position: 0 -84px;
}

.xf-qj-box .xf-qb-top .cd-a1 {
	background-position: 0 0;
}

.xf-qj-box .xf-qb-top .cd-a2 {
	background-position: 0 0;
}

.xf-qj-box .xf-qb-top .fd-a1 {
	background-position: 0 -54px;
}

.xf-qj-box .xf-qb-top .fd-a2 {
	background-position: 0 -24px;
}

.xf-qj-box .xf-qb-top .qd-a1 {
	background-position: 0 -108px;
}

.xf-qj-box .xf-qb-top .qd-a2 {
	background-position: 0 -48px;
}

.xf-qj-box .xf-qb-top .yj-a1 {
	background-position: 0 -162px;
}

.xf-qj-box .xf-qb-top .yj-a2 {
	background-position: 0 -72px;
}

.mart20 {
	margin-top: 20px;
}

.xf-qj-box .xf-qb-lbox {
	background: #F7F7F7 repeat scroll 0 0;
	border: 1px solid #D8D8D8;
	float: right;
	height: 290px;
	padding: 20px 15px;
	width: 275px;
}

.xf-qj-box .xf-qb-lbox .text-line {
	color: #666666;
	float: left;
	font-size: 12px;
	line-height: 20px;
	width: 275px;
}

.xf-qj-box .xf-qb-lbox .tl-font1 {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.xf-qj-box .xf-qb-lbox .tl-font2 {
	color: #76BA15;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

.xf-qj-box .xf-qb-lbox .tl-font3 {
	color: #E8461A;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

.xf-qj-box .xf-qb-lbox .tl-font4 {
	color: #DD8C00;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

.xf-qj-box .xf-qb-rbox {
	float: right;
	width: 580px;
}

.xf-qj-box .xf-qb-rbox .xf-qr-line1 {
	background: #F3F3F3 repeat scroll 0 0;
	border-bottom: 1px solid #DCDCDC;
	color: #333333;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 15px;
	width: 550px;
}

.xf-qj-box .xf-qb-rbox .xf-qr-line1 a.sf-more {
	color: #666666;
	float: right;
	font-family: ËÎÌå;
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
	padding-top: 6px;
}

.register_borrow_form {
	background-image: url("tijiao_bg.png");
	background-position: left top;
	background-repeat: no-repeat;
	position: relative;
	width: 305px;
}

.registerBorrow_btn {
	background-image: url("tianxie.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	text-decoration: none;
	width: 150px;
	margin-left: 20px;
	margin-top: 15px;
}

.register_btn:hover {
	background-position: 0 -39px;
}

.form_bottom {
	background: #fff url("tijiao_bg.png") no-repeat scroll 0 bottom;
	height: 15px;
	position: absolute;
	width: 100%;
}

/*TAB*/
.box {
	width: 580px;
	margin-bottom: 10px;
	background: #fff;
}

.tab_menu {
	border-bottom: 1px solid #FF3539;
	margin: 20px auto;
	height: 35px
}

.tab_menu li {
	background-color: #F0F0F0;
	margin: 0 5px;
	border-radius: 5px 5px 0 0;
	color: #414141;
	font-family: Î¢ÈíÑÅºÚ, 'Microsoft YaHei', STHeiti, sans-serif;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	width: 110px;
	float: left
}

.tab_menu li:hover,.tab_menu li.current {
	background-color: #FF3539;
	color: #FFFFFF;
}

.tab_box {
	font-size: 12px;
	line-height: 35px;
	color: #999999;
}

.tab_box p {
	text-indent: 2em;
}

.tab_box .hide {
	display: none;
}

/*foot*/
.ft {
	background-color: #FF3539;
	border-top: 1px solid #DDDDDD;
	clear: both;
	overflow: hidden;
	padding: 20px 0;
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
}

.ft a,.ft a:visited {
	color: #FFFFFF;
	margin-right: 15px;
	text-decoration: none;
}

.ftBox {
	color: #FFFFFF;
	margin: 0 auto;
	width: 855px;
}

.ftBox p {
	margin-bottom: 4px;
}

.logoft {
	background: url("/images/logoft.png") no-repeat 35px 50%;
	padding-left: 180px;
}

.cold0 {
	color: #D0D0D0;
}

.cold1 a {
	color: #999999;
}

.clearfix:after {
	clear: both;
	content: "&#8203";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden
}